.dropbtn {
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: black}

.dropbtn2 {
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn2:hover, .dropbtn:focus {
    background-color: orange;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown2 a:hover {background-color: black}

.dropbtn3 {
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn3:hover, .dropbtn:focus {
    background-color: yellow
}

.dropdown3 {
    position: relative;
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content3 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown3 a:hover {background-color: black}

.dropbtn4 {
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn4:hover, .dropbtn:focus {
    background-color: green
}

.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content4 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown4 a:hover {background-color: black}
.dropbtn5{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn5:hover, .dropbtn:focus {
    background-color: blue
}

.dropdown5 {
    position: relative;
    display: inline-block;
}

.dropdown-content5 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content5 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown5 a:hover {background-color: black}
.dropbtn6{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn6:hover, .dropbtn:focus {
    background-color: purple
}

.dropdown6 {
    position: relative;
    display: inline-block;
}

.dropdown-content6 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content6 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown6 a:hover {background-color: black}
.dropbtn7{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn7:hover, .dropbtn:focus {
    background-color: indigo
}
.dropdown7 {
    position: relative;
    display: inline-block;
}

.dropdown-content7 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content7 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown7 a:hover {background-color: black}

.dropbtn8{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn8:hover, .dropbtn:focus {
    background-color: red
}
.dropdown8 {
    position: relative;
    display: inline-block;
}

.dropdown-content8 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content8 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown8 a:hover {background-color: black}

.dropbtn9{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 69px;
    border: none;
}

.dropbtn9:hover, .dropbtn:focus {
    background-color: orange
}
.dropdown9 {
    position: relative;
    display: inline-block;
}

.dropdown-content9 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content9 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown9 a:hover {background-color: black}


.show {display:block;}
        .dot {
        height: 200px;
        width: 200px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
body{
            background: linear-gradient(black, darkgray);
            height: 1000px;
            width: 1000px;
        }
.img {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -149.5px;
    margin-left: -149.5px;
}
    
.thiccspace {
    position:fixed;
    top: 25%;
    left: 50%;
    margin-left:-172.5px;
    margin-top:-69px;
}
  

.btn a{
    text-decoration:none;
    background: linear-gradient(darkgray, black);
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  transition: 3s;
  position: fixed;
  top:50%;
  left:27%;
  margin-left:9px;
  margin-top:-16px;
  font-family: "Times New Roman", Times, serif;
}

.btn a:hover{
    background:linear-gradient(black,darkgrey);
    color:white;
    cursor: pointer;
}

.btu a{
    text-decoration:none;
  background: linear-gradient(darkgray, black);
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 3s;
  position: fixed;
  top:50%;
  left:61%;
  margin-left:-2px;
  margin-top:-16px;
  font-family: "Times New Roman", Times, serif;
}

.btu a:hover {
  background:linear-gradient(black,darkgray);
  color: white;
  cursor: pointer;
}

.btb a{
  background: linear-gradient(darkgray, black);
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 3s;
  position: fixed;
  top:67%;
  left:35%;
  margin-left:-2px;
  margin-top:-16px;
  font-family: "Times New Roman", Times, serif;
  text-decoration:none;
}

.btb a:hover {
  background:linear-gradient(black,darkgray);
  color: orange;
  cursor: pointer;
}

.btv a {
  background: linear-gradient(darkgray, black);
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 8s;
  position: fixed;
  top:67%;
  left:53%;
  margin-left:69px;
  margin-top:-16px;
  font-family: "Times New Roman", Times, serif;
  text-decoration:none;
}

.btv a:hover {
  background:linear-gradient(black,darkgray);
  color: dodgerblue;
  cursor: pointer;
  transition:3s;
}

#spinner {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transform-style: preserve-3d;
  text-align:center;
  color:white;
  font-size:50px;
  font-weight:bolder;
  left:50%;
  margin-top:0px;
  margin-left:-723px;
  
  
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-720deg);
  }
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: darkgray;
  color: black;
}

.square{
    width: 143px;
    height: 10px;
    Background-color: black;
    margin-top:-10px;
    z-index:5;
    position:absolute;
}

.bio{
    color:white;
    font-size: 20px;
}

